/* Grid 
----------------------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

[class*='col-'] {
  float: left;
  padding-right: 20px; }
  @media (max-width: 700px) {
    [class*='col-'] {
      width: 100%; } }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.row {
  max-width: 1000px;
  clear: both;
  margin: 0 auto; }
  @media (max-width: 1040px) {
    .row {
      width: 100%;
      padding: 0 20px; } }

.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-']:last-of-type {
  padding-right: 0; }
