/* Grid 
----------------------------------------------- */
$max-width: 1000px;
$gutter:  20px;
$breakpoint: 700px;

@mixin box-sizing($sizing) {
	-webkit-box-sizing: $sizing;
	-moz-box-sizing: $sizing;
	box-sizing: $sizing;
}

*, *:after, *:before  {
	@include box-sizing(border-box);
}
[class*='col-'] {
	float: left;
	padding-right: $gutter;
	@media (max-width: $breakpoint) {
		width: 100%;
	}
}
.col-1 {
	width: 1 / 12 * 100%;
}
.col-2 {
	width: 2 / 12 * 100%;
}
.col-3 {
	width: 3 / 12 * 100%;
}
.col-4 {
	width: 4 / 12 * 100%;
}
.col-5 {
	width: 5 / 12 * 100%;
}
.col-6 {
	width: 6 / 12 * 100%;
}
.col-7 {
	width: 7 / 12 * 100%;
}
.col-8 {
	width: 8 / 12 * 100%;
}
.col-9 {
	width: 9 / 12 * 100%;
}
.col-10 {
	width: 10 / 12 * 100%;
}
.col-11 {
	width: 11 / 12 * 100%;
}
.col-12 {
	width: 12 / 12 * 100%;
}
.row {
	max-width: $max-width;
	clear: both;
	margin: 0 auto;
	@media (max-width: $max-width + 40px) {
		width: 100%;
		padding: 0 20px;
	}
}
.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*='col-']:last-of-type {
  	padding-right: 0;
}